*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Nunito",sans-serif;
    background-image: url(/weather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .icon{
    align-items: left;
    margin: 20px 25px;
    background: transparent;
  }
  .icon img{
    width: 70px;
    height: 45px;
    
  }
  .heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }
  .heading h1{
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
  }
  
  .input{
    text-align: center;
    margin: 100px auto;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background: rgba(83, 81, 81, 0.322);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    color: white;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  } 
  
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #ffffff;
    border: 3px;
    border-radius: 30px;
    outline: none;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  .submit:hover{
    background: transparent;
    color:white;
    cursor: pointer;

  }

  .container{
    background: transparent;
    width: 50%;
    margin: 50px auto;
  }
  
  .card{
    width: 50%;
    height: 35vh;
    margin: 30px auto;
    border-radius: 10px;
    color:white;
  }
  
  
  
  .card h1{
    font-size: 45px;
    padding: 40px 0;
    text-align: center;
    justify-content: space-evenly;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    
  }
  
  .card p{
    text-align: center;
    margin:20px 0;
    font-size:20px;
    color: white;
  }
  footer{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 30px;
  }
  footer a{
    text-decoration: none;
    color: white;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 30px;
    padding: 8px 8px;
  }
  footer a:hover{
    background: white;
    color: black;
   
  }